<div class="row ">
    <div class="col-md-12 portlet light">
        <div class="portlet-body">

            <table class="col-md-6 table">
                    <thead>
                            <tr>
                                <th> TokenName </th>
                                <th> Address </th>
                            </tr>
                        </thead>
                <tr ng-repeat="t in contracts track by $index">
                    <td> <a class="font-green" href="/token/{{t.address}}">{{t.contractName}} </a></td>
                    <td > <a href="/token/{{t.address}}">{{t.address}}</a> </td>
                </tr>
            </table>
        </div>
    </div>
</div>